[submodule "netease-cloud-music-service"]
	path = netease-cloud-music-service
	url = https://github.com/Binaryify/NeteaseCloudMusicApi.git
[submodule "qq-music-service"]
	path = qq-music-service
	url = https://github.com/jsososo/QQMusicApi.git
