[submodule "services/netease-cloud-music-service"]
	path = services/netease-cloud-music-service
	url = https://github.com/Binaryify/NeteaseCloudMusicApi.git
[submodule "services/qq-music-service"]
	path = services/qq-music-service
	url = https://github.com/jsososo/QQMusicApi.git
